<div class="confirm-popup-message">
	{{confirmMessage}}
</div>
<div class="confirm-popup-footer">
	<button class="button blue" ng-click="$close();callback()">
		<span ng-if="!buttonTexts.ok">{{getMsgs('ok')}}</span>
		<span ng-if="buttonTexts.ok">{{buttonTexts.ok}}</span>
	</button>
	<button class="button red" ng-click="$dismiss('cancel')">
		<span ng-if="!buttonTexts.cancel">{{getMsgs('cancel')}}</span>
		<span ng-if="buttonTexts.cancel">{{buttonTexts.cancel}}</span>
	</button>
</div>