<div class="confirm-popup-message">
	<label class="table-row"> 
		<span class="table-cell">{{getMsgs('language')}}</span>
		<span class="table-cell">
			<single-select ng-model="filter.language" required>
		</span>
	</label> 
		<span>
			<input type="file" file-model="myFile.file" />
		</span>
</div>

<div class="table-row" ng-repeat="kid in kidArr">
	{{getMsgs(kid.language)}} -  <a href={{kid.url}} target="_blank">{{kid.url}} <br/></a>	
</div>
<br/>

<div class="confirm-popup-footer">
	<button class="button blue" ng-click="$close()">close </button>
	<button class="button blue" ng-click="updateKID();$close();">update</button>
</div>
