<div class="marketing-screen" ng-controller="DBParametersCtr">
	<h1>{{getMsgs('db-parameters')}}</h1>
	<div class="box" ng-if="!action">
		<div class="box-sub-header">
			<button type="button" class="button blue" ng-click="search();clicked=true">{{getMsgs('search')}}</button>
		</div>
		<div class="box-body"  ng-class = "{'loading-request' : isLoading}" ng-if="clicked==true">
			<div class="table">
				<div class="table-row header-row">
					<span class="table-cell">{{getMsgs('id')}}</span>
					<span class="table-cell">{{getMsgs('name')}}</span>
					<span class="table-cell">{{getMsgs('num-value')}}</span>
					<span class="table-cell">{{getMsgs('str-value')}}</span>
					<span class="table-cell">{{getMsgs('date-value')}}</span>	
					<span class="table-cell">{{getMsgs('comments')}}</span>
				</div>
				<div class="table-row" ng-repeat="DBParameter in filtered.DBParameterArr = ( DBParameterArr | orderBy:'id': true ) | limitTo:resultsPerPage:(page-1)*resultsPerPage">
					<span class="table-cell">
						<a ng-href="{{$state.href('ln.admin.dbParameters.edit', {id: DBParameter.id})}}" >
							<i class="fa fa-pencil edit-icon pr5" aria-hidden="true"></i>
							{{DBParameter.id}}
						</a>
					</span>
					<span class="table-cell">{{DBParameter.name}}</span>
					<span class="table-cell">{{DBParameter.numValue}}</span>	
					<span class="table-cell">{{DBParameter.stringValue}}</span>
					<span class="table-cell">{{DBParameter.dateValue}}</span>
					<span class="table-cell">{{DBParameter.comments}}</span>					
				</div>
			</div>
			<pagination model="pagination"></pagination>
		    <button type="button" class="button blue" ng-click="add()" >{{getMsgs('add')}}</button>
		</div>
	</div>
	<div class="box" ng-if="action =='edit'">
	  	<div class="box-body">
	  		<div class="table">
	  				<label class="table-row" ng-if="action == 'edit'">
							<span class="table-cell">{{getMsgs('id')}}</span>
							<span class="table-cell">{{selectedDBParameter.id}}</span>
	  				</label>
	  				<label class="table-row" ng-if="action == 'edit'">
							<span class="table-cell">{{getMsgs('name')}}</span>
							<span class="table-cell"><input type="text"  ng-model="selectedDBParameter.name"></span>
	 				</label> 
	  				<label class="table-row" ng-if="action == 'edit'">
							<span class="table-cell">{{getMsgs('num-value')}}</span>
							<span class="table-cell"><input type="text"  ng-model="selectedDBParameter.numValue"></span>
	 			 	</label>
	  				<label class="table-row" ng-if="action == 'edit'">
							<span class="table-cell">{{getMsgs('str-value')}}</span>
							<span class="table-cell"><input type="text"  ng-model="selectedDBParameter.stringValue"></span>
	 			 	</label>
	  				<label class="table-row" ng-if="action == 'edit'">
							<span class="table-cell">{{getMsgs('date-value')}}</span>
							<span class="table-cell"><input type="text"  ng-model="selectedDBParameter.dateValue"></span>
	  				</label>
	  				<label class="table-row" ng-if="action == 'edit'">
							<span class="table-cell">{{getMsgs('comments')}}</span>
							<span class="table-cell"><input type="text"  ng-model="selectedDBParameter.comments"></span>
	  				</label>
	  		</div>
		</div>
		<div class="box-footer">
	   			<button type="button" class="button blue" ng-click="save()" >{{getMsgs('save')}}</button>
		</div>
	</div>
    <form class="table" name="addDBParameterForm" ng-submit="submitForm(addDBParameterForm.$valid)" novalidate ng-if="action =='add'"> 
   		<div class="box" ng-if="action =='add'">
   			<div class="box-body"> 
  				<div class="table">
 					<label class="table-row" ng-if="action == 'add'">
							<span class="table-cell">{{getMsgs('name')}}</span>
							<span class="table-cell"><input type="text"  ng-model="newDBParameter.name" required></span>
  					</label>
  					<label class="table-row" ng-if="action == 'add'">
							<span class="table-cell">{{getMsgs('num-value')}}</span>
							<span class="table-cell"><input type="text"  ng-model="newDBParameter.numValue"></span>
  					</label>
  					<label class="table-row" ng-if="action == 'add'">
							<span class="table-cell">{{getMsgs('str-value')}}</span>
							<span class="table-cell"><input type="text"  ng-model="newDBParameter.stringValue"></span>
   					</label>
   					<label class="table-row" ng-if="action == 'add'">
							<span class="table-cell">{{getMsgs('date-value')}}</span>
							<span class="table-cell"><input type="text"  ng-model="newDBParameter.dateValue"></span>
   					</label>
   					<label class="table-row" ng-if="action == 'add'">
							<span class="table-cell">{{getMsgs('comments')}}</span>
							<span class="table-cell"><input type="text"  ng-model="newDBParameter.comments" required></span>
   					</label>   					
  				</div>	
			</div>
			<div class="box-footer">
	    			<button type="button" class="button blue" ng-click="addDBParameter()" ng-disabled="addDBParameterForm.$invalid">{{getMsgs('add')}}</button> 
			</div>
   		</div>
   	</form>
</div>