<div class="marketing-screen" ng-controller="SourcesCtr">
	<h1>{{getMsgs('sources')}}</h1>
	<!-- select --> 
	<div class="box" ng-if="!action">
		<div class="box-sub-header">
			<button type="button" class="button blue" ng-click="search();clicked=true">{{getMsgs('search')}}</button>
		</div>
		<div class="box-body table-holder table-responsive" ng-class = "{'loading-request' : isLoading}" ng-if="clicked==true">
			<div class="table">
				<div class="table-row header-row">
					<span class="table-cell">{{getMsgs('id')}}</span>
					<span class="table-cell">{{getMsgs('name')}}</span>
					<span class="table-cell">{{getMsgs('writer-user-name')}}</span>
					<span class="table-cell">{{getMsgs('time-created')}}</span>
					<span class="table-cell">{{getMsgs('time-modified')}}</span>		
				</div>
				<div class="table-row" ng-repeat="source in filtered.sourcesArr = ( sourcesArr | orderBy:'name' ) | limitTo:resultsPerPage:(page-1)*resultsPerPage">
					<span class="table-cell">
						<a ng-href="{{$state.href('ln.admin.sources.edit', { ln: language.languageCode, sourceId: source.id})}}" >
							<i class="fa fa-pencil edit-icon pr5" aria-hidden="true"></i>
							{{source.id}}
						</a>
					</span>
					<span class="table-cell">{{source.name}}</span>
					<span class="table-cell">{{source.writerUserName}}</span>
					<span class="table-cell">{{source.timeCreated | date:'HH:mm dd/MM/yyyy'}}</span>
					<span class="table-cell">{{source.timeModified | date:'HH:mm dd/MM/yyyy'}}</span>
				</div>
			</div>
			<pagination model="pagination"></pagination>
		    <button type="button" class="button blue" ng-click="add()" >{{getMsgs('add-source')}}</button>
		</div>
	</div>
	<!-- edit -->
	<div class="box" ng-if="action =='edit'">
		<div class="box-body">
	  		<div class="table">
	  			<label class="table-row" ng-if="action == 'edit'">
					<span class="table-cell">{{getMsgs('id')}}</span>
					<span class="table-cell">{{selectedSource.id}}</span>
	  			</label>
	  			<label class="table-row" ng-if="action == 'edit'">
					<span class="table-cell">{{getMsgs('name')}}</span>
					<span class="table-cell"><input type="text"  ng-model="selectedSource.name"></span>
	  			</label>
	  		</div>
		</div>
		<div class="box-footer">
		   <button type="button" class="button blue" ng-click="save()" >{{getMsgs('save')}}</button>
		</div>
    </div>
    <!-- add --> 
    <div class="box" ng-if="action =='add'">
    	<div class="box-body">
	  		<div class="table">
	  			<label class="table-row" ng-if="action == 'add'">
					<span class="table-cell">{{getMsgs('name')}}</span>
					<span class="table-cell"><input type="text"  ng-model="newSource.sourceName"></span>
	  			</label>
	  		</div>	
		</div>
		<div class="box-footer">
			    <button type="button" class="button blue" ng-click="addSource()" >{{getMsgs('add-source')}}</button>
		</div>
    </div>
</div>