<div class="translations-screen" ng-controller="TranslationsCtr">
	<h1 ng-if="action != 'loading'">{{getMsgs('translations')}}</h1>
	<div class="box" ng-if="!action">
		<div class="box-sub-header">
			<single-select ng-model="filter.actionSource"></single-select>
			<button type="button" class="button blue" ng-disabled="filter.actionSource.getId() <= 0" ng-click="search()">{{getMsgs('search')}}</button>
		</div>
		<div class="box-body" ng-if="!isEmpty(msgsArr)">
			<div class="box-sub-header">
				<label>{{getMsgs('key')}}: <input ng-model="searchFilter.key" ng-change="updatePages()"></label>
				<label>{{getMsgs('value')}}: <input ng-model="searchFilter.value.$" ng-change="updatePages()"></label>
				<button type="button" class="button blue" ng-click="openInsertMsgModal()">{{getMsgs('add-simple-key')}}</button>
				<button type="button" class="button blue" ng-click="openInsertMsgModal('html')">{{getMsgs('add-html-key')}}</button>
			</div>
			<div class="box-body table-holder table-responsive">
				<div class="table">
					<div class="table-row header-row">
						<span class="table-cell">Add lang</span>
						<span class="table-cell">Edit</span>
						<span class="table-cell">{{getMsgs('key')}}</span>
						<span class="table-cell" ng-repeat="(lang, value) in languages">
							{{value.languageCode}}
						</span>
					</div>
					<div class="table-row" ng-repeat="msg in filtered.msgsArr = (msgsArr | filter:searchFilter) | limitTo:resultsPerPage:(page-1)*resultsPerPage">
						<span class="table-cell">
							<button type="button" class="edit-btn" ng-click="openAddLangModal(msg)">
								<i class="fa fa-plus" aria-hidden="true"></i>
							</button>
						</span>
						<span class="table-cell">
							<button type="button" class="edit-btn" ng-click="openEditMsgModal(msg, msg.typeId == 1 ? '' : 'html')">
								<i class="fa fa-pencil edit-icon" aria-hidden="true"></i>
							</button>
						</span>
						<span class="table-cell">{{msg.key}}</span>
						<span class="table-cell" ng-repeat="language in languages">
							<input ng-model="msg.value[language.languageId].value" readonly>
							<!--<div ng-if="tinymceReady">
								<textarea ui-tinymce="tinymceOptions" ng-model="msg.value[language.languageId]" cols="40" rows="10" style="visibility:hidden;"></textarea>
							</div>-->
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="box-footer" ng-if="!isEmpty(msgsArr)">
			<pagination model="pagination"></pagination>
		</div>
	</div>
	<div class="box" ng-if="action == 'add'">
		<div class="box-sub-header">
			<single-select ng-model="filter.actionSource"></single-select>
			<button type="button" class="button blue" ng-disabled="filter.actionSource.getId() <= 0" ng-click="addKey()">{{getMsgs('add-key')}}</button>
		</div>
		<form name="_form">
			<div class="box-body" ng-if="!isEmpty(newKeys)">
				<div class="table">
					<div class="table-row header-row">
						<span class="table-cell"></span>
						<span class="table-cell">{{getMsgs('key')}}</span>
						<span class="table-cell" ng-repeat="(lang, value) in languages">
							{{value.languageCode}}
						</span>
					</div>
					<div class="table-row" ng-repeat="key in newKeys">
						<span class="table-cell">{{filter.actionSource.getElNameById(key.actionSource)}}</span>
						<span class="table-cell"><input ng-model="key.key" required></span>
						<span class="table-cell" ng-repeat="language in languages">
							<input ng-model="key.value[language.languageId]">
						</span>
					</div>
				</div>
				{{newKeys}}
			</div>
			<div class="box-footer" ng-if="!isEmpty(newKeys)">
				<button type="button" class="button blue" ng-disabled="!_form.$valid" ng-click="saveNewKeys()">{{getMsgs('save')}}</button>
			</div>
		</form>
	</div>
</div>