<div class="login-screen" ng-controller="CredentialsCtr">
	<h1>{{getMsgs('login')}}</h1>
	<div class="global-errors-container" ng-if="errors.globalErrorMsg" ng-bind-html="errors.globalErrorMsg"></div>
	<div class="login-box">
		<form on-enter="login()">
			<div class="username">
				<input name="username" ng-model="credentials.userName" placeholder="{{getMsgs('login-username')}}">
				<i class="fa fa-envelope" aria-hidden="true"></i>
			</div>
			<div class="password">
				<input type="password" ng-model="credentials.userPass" placeholder="{{getMsgs('login-password')}}">
				<i class="fa fa-lock" aria-hidden="true"></i>
			</div>
			
			<button type="button" class="button blue" ng-click="login()">{{getMsgs('login')}}</button>
		</form>
	</div>
</div>