/* CSS */
* {
	box-sizing:border-box;
}
html, body {
    height: 100%;
}
body {
	font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif, 'PT Sans', sans-serif;
	// line-height: 1.25;
	color: #222;
	background: #eee;
	font-size: 14px;
	font-weight: normal;
}
body, h1, h2, h3, ul,section {
	margin: 0;
	padding: 0;
}
body, header {
	clear: both;
}
ul {
	list-style: none;
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #3c8dbc;
	// transition: all 250ms;
}
.pr5{padding-right: 5px!important;}

/* Variables Start*/
$color-white: #fff;
$main-font: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif, 'PT Sans', sans-serif;
// #f0f0f0
/* Variables End*/

/* Mixins Start */
@mixin linear-gradient($first-color, $second-color, $third-color) {
	background: -webkit-linear-gradient($first-color,$second-color,$third-color);
	background: linear-gradient($first-color,$second-color,$third-color);
}
@mixin linear-gradient-four-top-bottom($first-color, $second-color, $third-color, $fourth-color) {
	background: -webkit-linear-gradient(top, $first-color 0%,$second-color 50%,$third-color 51%, $fourth-color 100%);
	background: linear-gradient(to bottom, $first-color 0%,$second-color 50%,$third-color 51%, $fourth-color 100%);
}
@mixin linear-gradient-and-image($first-color, $second-color, $third-color, $image) {
	background-image: url($image), -webkit-linear-gradient($first-color,$second-color,$third-color);
	background-image: url($image), linear-gradient($first-color,$second-color,$third-color);
}
@mixin border ($style, $top, $right, $bottom, $left, $color,$radius){
	border: $style $color;
	border-width: $top $right $bottom $left;
	border-radius: $radius;
}
@mixin border-radius ($top, $right, $bottom, $left){
	border-top-left-radius: $top;
	border-top-right-radius: $right;
	border-bottom-right-radius: $bottom;
	border-bottom-left-radius: $left;
}
@mixin box-shadow ($type,$h-shadow,$v-shadow,$blur,$spread,$color){
	box-shadow: $type $h-shadow $v-shadow $blur $spread $color;
}
/* Mixins End */

/* Override Theme styles Start */
.navbar-nav {
	display: flex;
	align-items: center;
	padding-right: 20px;
	padding-left: 20px;
}
/* Override Theme styles End */
.stretch-list {
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
	margin-right: -5px;
	margin-left: -5px;
	li {
		flex-grow: 1;
		margin-right: 5px;
		margin-bottom: 5px;
		margin-left: 5px;
	}
}

.stretch-list-from-to {
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
	margin-right: 400px;
	margin-left: -5px;
	li {
		margin-right: 5px;
		margin-bottom: 5px;
		margin-left: 5px;
	}
}

.table {
	display: table;
	width: 100%;
	.table-row {
		display:table-row;
		&.header-row {
			font-weight:bold;
		}
	}
	.table-cell {
		display: table-cell;
		vertical-align: middle;
	}
}
.pretty-table{
	width: 100%;
	border-collapse: collapse;
	td, th {
		padding: 10px;
	}
	thead{
		@include border (solid, 0, 0, 1px, 0, #cfcfcf, 0);
		th {
			background: #f8f9fb;
			@include linear-gradient (#fff, #f8f9fb, #eff1f5);
			color: #606266;
			+ th {
				@include border (solid, 0, 0, 0, 1px, #cfcfcf, 0);
			}
		}
	}
	tbody {
		td {
			font-family: $main-font;
			font-size: inherit;
			color: #5e6267;
			+ td {
				@include border (solid, 0, 0, 0, 1px, #dfdfdf, 0);
			}
			&.clickable {cursor:pointer;}
			a {
				font-family: $main-font;
				font-size: inherit;
				color: #5e6267;
				font-weight: bold;
				cursor: pointer;
				&:hover {
					color: #3c81d6;
				}
			}
		}
		tr {
			&:nth-of-type(even) {background: #f6f6f6;}
			&.additional-info-row:nth-of-type(even) {background: #f0f0f0;}
			+ tr {@include border (solid, 1px, 0, 0, 0, #dfdfdf, 0);}
			&.additional-info-row {background: #f9f9f9;}
			&.summary td {border:0px;background:#f7f7f7;}
		}
	}
}

.column-one-third{display:inline-block;width:33%;}
.column-one-half{display:inline-block;width:calc(50% - 2px);vertical-align:top;}

/*Sprite Icons*/
.icons::before {
	content: '';
	// position: absolute;
	// top: 0;
	// right: 0;
	// bottom: 0;
	// left: 0;
	// margin: auto 0;
	display: inline-block;
	vertical-align: middle;
	background: url('../images/sprite-icons.png') 0 0 no-repeat;
}
/*End Sprite Icons*/

/* Headings*/
h1 {
	position: relative;
	font-weight:normal;
	font-size: 1.704545em;
	margin-bottom: 20px;
}
h2 {
	font-size: 1em;
}
h2.confirmation-message {
	color:#60ba5f;
}
/* End Headings*/

/*Form elements*/
.row + .row{
	margin-top: 15px;
}
input, textarea select {
	outline: none;
}
input, input[type=text], input[type=password], input[type=date], input[type=datetime], input[type=time], input[type=email], input[type=url], textarea:not(.editor), select {
	padding: 6px 12px;
	border-radius: 0px;
	border: 1px solid #d2d6de;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	color: #434343;
}
input:focus, input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=time]:focus, input[type=email]:focus, input[type=url]:focus, textarea:not(.editor):focus {
	border: 1px solid #3c8dbc;
	outline:none;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

input[disabled], input[type=text][disabled], input[type=password][disabled], input[type=date][disabled], input[type=datetime][disabled], input[type=time][disabled], input[type=email][disabled], input[type=url][disabled], textarea:not(.editor)[disabled] {
	background: #e8e8e8;
	border: 1px solid #a0a0a0;
	cursor: not-allowed;
}
select {
	padding: 3px 5px;
}
.error{
	color:#771717;
}
.ng-invalid.ng-touched:not(form), .ng-submitted .ng-invalid {
	border: 1px solid #db5656;
	transition: all 0.1s ease-in-out 0s;
}
/*End form elements*/

/* All buttons*/ 
.button {
	cursor: pointer;
	padding: 6px 12px;
	color: #333;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
	border-radius: 3px;
	&:hover {
		background-color: #e7e7e7;
		border: 1px solid #adadad;
	}
	&.logout {
		margin:0px 0px 0px 20px;
		color:#f6f6f6;
		background:#367FAA;
		border:1px solid #2C698D;
		&:hover {
			color:#fff;
		}
	}
	&.dark-blue {
		padding: 6px 20px;
		@include border (solid, 1px, 1px, 1px , 1px, #162436, 4px);
		background: #4d5665;
		@include linear-gradient (#687488, #4d5665, #353c45);
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 2px 2px rgba(0,0,0,0.51);
		&:hover {
			background: #646e7e;
			@include linear-gradient (#7f8ba0, #646e7e, #4c5560);
		}
		&:active {
				background: #323841;
				box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
		}
	}
	&.blue {
		margin:0px;
		color:#f6f6f6;
		background:#3c8dbc;
		border:1px solid #367fa9;
		&:hover {
			color:#fff;
			background:#367fa9;
			border:1px solid #204d74;
		}
		&.pending {
			padding: 0px 8px 0px 8px;
			border: 0px;
		}
	}
	&.red {
		@include border (solid, 1px, 1px, 1px , 1px, #832727, 3px);
		background: #ef6161;
		@include linear-gradient (#ef6161, #dc4747, #cb2f2f);
		@include box-shadow (inset, 0, 1px, 0, 0, rgba(255,255,255,0.3));
		&:hover {
			background: #f68d8d;
			@include linear-gradient (#f68d8d, #eb7171, #e05252);
		}
		&:active {
			background: #1e72e3;
			@include linear-gradient (#cb2f2f, #de4949,#ef6161);
			@include box-shadow (inset, 0.5px, 0.866px, 2px, 0, rgba(0,0,0,0.44));
		}
	}
	&.green {
		@include border (solid, 1px, 1px, 1px , 1px, #1d5d1c, 3px);
		background: #61b660;
		@include linear-gradient (#61b660, #51a450, #40913f);
		@include box-shadow (inset, 0, 1px, 0, 0, rgba(255,255,255,0.3));
		&:hover {
			background: #7bcc7a;
			@include linear-gradient (#7bcc7a, #60ba5f, #47a145);
		}
		&:active {
			background: #489548;
			@include linear-gradient (#3a8039, #5fa65e,#65bc64);
			@include box-shadow (inset, 0.5px, 0.866px, 2px, 0, rgba(0,0,0,0.44));
		}
		.add-icon {
			position: relative;
			margin-right: 20px;
			&:after {
				content: '';
				position: absolute;
				top: -6px;
				padding-left: 10px;
				height: 24px;
				@include border (solid, 0, 1px, 0 , 0, #1d5d1c, 0);
			}
		}
	}
	&.grey {
		padding: 3px 5px;
		border: none;
		border-radius: 3px;
		font-weight: inherit;
		text-shadow: 0 1px 0 #fff;
		color: #70747a;
		background: transparent;
		.add-icon {
			margin-right: 5px;
		}
		&:hover {
			padding: 2px 4px;
			background: #f2f4f6;
			@include linear-gradient (#fafbfc, #f2f4f6, #e8ebef);
			@include border (solid, 1px, 1px, 1px , 1px, #c5c5c5, 3px);
			box-shadow: 0 1px 1px rgba(0,0,0,0.2),inset 0 1px 0 #fff;
		}
		&:active {
			background: #e5e7eb;
			box-shadow: inset 0 1px 1px rgba(0,0,0,0.53), 0 1px 0 #fff;
			border-color: transparent;
		}
	}
}
.button[disabled], .button[disabled]:hover {
	@include border (solid, 1px, 1px, 1px , 1px, #b0b0b0, 3px);
	background: #d8d8d8;
	@include linear-gradient (#d5d5d5, #d8d8d8, #dadada);
	@include box-shadow (inset, 0, 1px, 0, 0, rgba(255,255,255,0.3));
	color: #838383;
	cursor: auto;
	text-shadow: none;
	box-shadow: none;
	.edit-icon {
		position: relative;
		margin-right: 20px;
		&:after {
			content: '';
			position: absolute;
			top: -6px;
			padding-left: 10px;
			height: 24px;
			@include border (solid, 0, 1px, 0 , 0, #b0b0b0, 0);
		}
	}
}
.edit-link-disabled, .edit-link-disabled:hover {color:#bfc1c2!important;cursor:default;}
/* End all buttons*/

.wrapper {
	min-height:100%;
	position:relative;
	&.loading{
		min-height:auto;
		&:before{
			content:'';
			display:block;
			position:fixed;
			top:0px;
			left:0px;
			z-index:999;
			width:100%;
			height:100%;
			background:url('../images/loading.gif') no-repeat center #fdfdfd;
		}
		.loading:before {display:none;}
	}
}
.login{
	& header {
		position: static;
		padding: 0;
		height: 197px;
		background: url('../images/header-bg.png') repeat-x bottom;
		& div {
			width: 430px;
			& .big {
				margin-top: 87px;
			}
		}
	}
	& section {;
		margin-top: -38px;
		.box{
			margin: 0 auto;
			max-width: 430px;
			@include border (solid, 1px, 1px, 1px , 1px, #b9b9b9, 2px);
			box-shadow: 0 1px 0px rgba(0,0,0,0.11);
			.header {
				background: #f0f2f5;
				@include linear-gradient (#f8f8f9, #f0f2f5, #e9ecf1);
				box-shadow: inset 0 1px 0 #fff,0 1px 2px rgba(0,0,0,0.02);
				border-radius: 2px 2px 0 0;
				border-bottom: 1px solid #c0c8d0;
				& h2 {
					padding: 9px 10px;
					display: inline-block;
					vertical-align: middle;
					font-size: 1em;
					&::before{
						content: "\f023";
						font-family: 'FontAwesome';
						margin-right: 10px;
						display: inline-block;
						vertical-align: middle;
						font-size: 15px;
					}
				}
			}
			.body{
				padding: 15px 10px 10px;
				background: #fff;
			}
			.message{
				padding: 0 5px 10px;
				border-bottom: 1px solid #d1d1d1;
				font-size: 16px;
				font-weight: bold;
				text-align: center;
				color: #172a43;
			}
			.form-box {
				margin: 10px 10px 0;
				@include border (solid, 1px, 1px, 1px ,1px, #c3c3c3, 3px);
				& .row {
					display: table;
					width: 100%;
					@include linear-gradient (#fff, #fafafb, #f6f6f7);
					& label, div {
						padding: 15px;
						display: table-cell;
						color: #434343;
					}
					& label {
						width: 32%;
					}
					& label + div {
						border-left: 1px solid #c3c3c3;
					}
					& div{
						input{
							width: 100%;
						}
					}
					& + .row {
						margin-top: 0;
						border-top: 1px solid #c3c3c3;
					}
					&:first-child{
						border-radius: 3px 3px 0 0;
					}
					&:last-child{
						border-radius: 0 0 3px 3px;
					}
				}
			}
			.footer {
				padding: 8px 15px;
				border-top: 1px solid #c1c1c1;
				background: #f0f2f5;
				@include linear-gradient (#f7f7f8, #f0f2f5, #e9ecf1);
				text-align: right;
			}
		}
	}
}
.main {
	width:100%;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.31);
	background: #ecf0f5;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

.main-header {
	.logo {
	    padding: 0 25px;
		.logo-lg {
			background:url(../images/logo.svg) center center no-repeat;
			text-indent: -9999px;

		}
	} 
} 
.skin-blue .main-header .logo {
	background-color: #222d32;
}
.skin-blue .main-header .logo:hover {
	background-color: #222d32;
}

// header {
// 	display:table;
// 	width: 100%;
// 	min-height:50px;
// 	&:after {
// 		content:'';
// 		display:block;
// 		clear:both;
// 	}
// 	.credentials {
// 		text-align:right;
// 	}
// 	& > div {
// 		display:table-cell;
// 		vertical-align:middle;
// 		width:87%;
// 		height:50px;
// 		padding:0px 20px;
// 		color:#fff;
// 		background:#3c8dbc;
// 	}
// 	& > div:first-of-type {
// 		width:13%;
// 		text-align:center;
// 		font-size:20px;
// 		font-weight:bold;
// 		background:#367fa9;
// 	}
// 	&.logo {
// 		float: left;
// 	}
// 	& ul {
// 		margin-top: 3px;
// 		float: right;
// 		& li {
// 			display: inline-block;
// 			margin: 0;
// 			& + li{
// 				margin-left: 10px;
// 			}
// 		}
// 		& a, a:hover {
// 			color: $color-white;
// 			text-shadow: 0 1px 0 #000;
// 		}
// 		& a {
// 			padding: 3px 10px 4px;
// 			display: inline-block;
// 			vertical-align: middle;
// 			@include border (solid, 1px, 1px, 1px ,1px, #222, 2px);
// 			box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
// 			background: #313d4f;
// 			@include linear-gradient (#3a4353, #313d4f, #1d2837);
// 			transition: all 250ms;
// 			&:hover{
// 				background: #4d607c;
// 				@include linear-gradient (#627592, #4d607c, #344861);
// 			}
// 			&:active {
// 				box-shadow: inset 0 2px 3px rgba(0,0,0,0.5);
// 			}
// 		}
// 		& .red {
// 			background: #6c3434;
// 			@include linear-gradient (#894848, #6c3434, #5a2727);
// 			&:hover {
// 				background: #944242;
// 				@include linear-gradient (#b25151, #944242, #703030);
// 			}
// 		}
// 	}
// }
.main-section {
	height: 100%; 
// 	width: 100%;
// 	min-height: 300px;
// 	border-radius: 0 0 3px 3px;
}
.main-sidebar {
	// float:left;
	// display:block;
	// width: 13%;
	// min-height: 600px;
	// border-right: 1px solid #c6c6c6;
	// border-radius: 0 0 0 3px;
	// background: #222d32;
	// vertical-align: top;
	& nav {
		.navigation {
			li {
				position: relative;
				cursor: pointer;
				min-height:auto;
				a {
					position: relative;
					display: block;
					padding: 12px 5px 12px 15px;
					font-family: $main-font;
					font-weight: inherit;
					color: #b8c7ce;
					text-transform: capitalize;
					white-space:nowrap;
					border-left: 3px solid transparent;
					&.current-parent {
						/*color: #fff;
						background: #1e282c;*/
						border-left-color: #3c8dbc;
						&::after{
							content: '';
							position: absolute;
							top: 0;
							right: -9px;
							z-index: 1;
							bottom: 0;
							margin: 0;
							display: inline-block;
							width: 9px;
							height: 37px;
							background: url('../images/sprite-icons.png') 0 -289px no-repeat;
						}
						&:hover {
							&::after{background: url('../images/sprite-icons.png') -14px -289px no-repeat;}
						}
					}
					&:hover, &.current {
						color: #fff;
						background: #1e282c;
						border-left-color: #3c8dbc;
						.node-collapsed-icon{
							color: #fefefe;
							text-shadow: 0 1px 0 #193c65;
						}
					}
					.node-collapsed-icon{
						position:absolute;
						top:calc(50% - 10px);
						right:10px;
						color:#8f8f8f;
						font-size: 14px;
					}
				}
				.sub-navigation {
					padding-left: 0;
					li {
						a {
							padding: 5px 5px 5px 15px;
							text-transform: none;
							color: #8aa4af;
							background: #2c3b41;
							&:hover {
								color:#fff;
							}
							&.current-parent {
								&::after{
									content: '';
									background: none;
								}
								&:hover {
									&::after{background: none;}
								}
							}
							&.current {
								color:#fff;
							}
						}
						
						.sub-navigation {
							a {
								padding-left: 40px;
								&:hover {padding-left: 40px;}
							}
							.sub-navigation {
								a {
									padding-left: 80px;
									&:hover {padding-left: 80px;}
								}
							}
						}
						
					}
				}
			}
		}
	}
}
.content-wrapper {
	padding: 30px 15px;
	&.loading{
		&:before{
			content:'';
			display:block;
			position:absolute;
			top:0px;
			left:0px;
			z-index:99;
			width:100%;
			height:100%;
			background:url('../images/loading.gif') no-repeat center rgba(255, 255, 255, 0.8);
		}
		&.loading-global:before{position:fixed;z-index:2000;}
	}
	.error {
		font-family: 'PT Sans', sans-serif;
		font-size: 14px;
		font-weight: bold;
		color: #990020;
		&:before {
			content: '\f00d';
			margin: 0 5px 2px 0;
			display: inline-block;
			font-family: 'FontAwesome';
			font-size: 12px;
			font-weight: normal;
			vertical-align: middle;
		}
	}
	.warning {
		padding:10px 0px;
		font-weight:bold;
		color:orange;
	}
	.box {
		background:#fff;
		box-shadow: 0 1px 1px rgba(0,0,0,0.1);
		@include border (solid, 3px, 0px, 0px, 0px, #3c8dbc, 3px);
		h1 {margin:0px;padding:10px;}
		.box-header {
			position: relative;
			padding: 10px;
			@include border-radius (3px, 3px, 0, 0);
			@include linear-gradient (#f8f8f9, #f0f2f5, #e9ecf1);
		}
		.box-sub-header {
			padding: 5px 10px;
			@include border (solid, 1px, 0, 0, 0, #b9b9b9, 0);
			background: #f7f7f7;
			color: #70747a;
			label + label {
				margin-left: 10px;
			}
		}
		.box-body {
			padding:10px;
			@include border (solid, 1px, 0, 0, 0, #f4f4f4, 0);
		}
		.box-footer {
			padding: 10px;
			@include border (solid, 1px, 0, 0, 0, #f4f4f4, 0);
			@include border-radius (0, 0, 3px, 3px);
			color: #777777;
			&:after {
				content: '';
				display: block;
				clear: both;
			}
		}
	}
}
.wrapper.logged-out {
	height:100%;
	background:#d2d6de;
	.main {
		height:100%;
		background:#d2d6de;
	}
	.content {
		width:100%;
		height:100%;
	}
}

.login-screen {
	width:360px;
	margin:7% auto;
	text-align:center;
	.login-box {
		padding:20px;
		color:#666;
		background:#fff;
		div {
			position:relative;
			padding:7.5px 0px;
			i {
				position:absolute;
				top:50%;
				right:10px;
				margin:-7px 0px 7px 0px;
			}
		}
		input {
			width:100%;
			padding-right:42.5px;
		}
	}
}

.products-screen {
	.box-body .column-one-half {width:100%;}
	.box-body .table.main-table > .table-row {
		& > .table-cell {
			height:33px;
			padding:2px 0px;
			&:first-of-type {
				width:30%;
			}
		}
		&:nth-child(2n) > .table-cell {
			background:#f0f0f0;
		}
		.angular-ui-tree-empty {display:none;}
	}
	.button.add {
		i {margin-right:10px;}
	}
	.multiple-block {
		margin:10px 0px;
		padding:10px;
		border:1px solid #ddd;
		.move-handle {
			display:inline-block;
		}
		.button {
			float:right;
			padding:3px 6px;
		}
		.table-cell {
			padding:2px 0px;
		}
	}
}

	
.translations-screen {
	.box-body > .table {
		width:auto;
		margin-top:20px;
		.table-row {
			.table-cell {
				padding:5px 10px;
				
			}
			&:nth-of-type(2n) > .table-cell {
				background:#f0f0f0;
			}
		}
		input {
			width:300px;
		}
		.edit-btn {
			border: 0;
			background: none;
			color: #3c8dbc
		}
	}
	
}



.transactions-screen {
	.box-body > .table {
		width:auto;
		margin-top:20px;
		.table-row {
			.table-cell {
				padding:5px 10px;
				
			}
			&:nth-of-type(2n) > .table-cell {
				background:#f0f0f0;
			}
		}
		input {
			width:300px;
		}
	}
}






.allProducts-screen {
	.box-body > .table {
		width:auto;
		margin-top:20px;
		.table-row {
			.table-cell {
				padding:5px 10px;
				
			}
			&:nth-of-type(2n) > .table-cell {
				background:#f0f0f0;
			}
		}
		input {
			width:300px;
		}
	}
}


.investments-screen {
	.box-body > .table {
		width:auto;
		margin-top:20px;
		.table-row {
			.table-cell {
				padding:5px 10px;
				
			}
			&:nth-of-type(2n) > .table-cell {
				background:#f0f0f0;
			}
		}
		input {
			width:300px;
		}
	}
}


.marketing-screen {
	.box-body > .table {
		width:auto;
		margin-top:20px;
		.table-row {
			.table-cell {
				padding:5px 10px;
				
			}
			&:nth-of-type(2n) > .table-cell {
				background:#f0f0f0;
			}
		}
		input {
			width:200px;
		}
	}
}

.issues-screen {
	.box-body > .table {
		width:auto;
		margin-top:20px;
		.table-row {
			.table-cell {
				padding:5px 10px;
				
			}
			&:nth-of-type(2n) > .table-cell {
				background:#f0f0f0;
			}
		}
		input {
			width:100px;
		}.text {
			width:200px;
			height:30px;
		}
	}
}

.files-screen {
	.box-body > .table {
		width:auto;
		margin-top:20px;
		.table-row {
			.table-cell {
				padding:5px 10px;
				
			}
			&:nth-of-type(2n) > .table-cell {
				background:#f0f0f0;
			}
		}
		input {
			width:100px;
		}.text {
			width:200px;
			height:30px;
		}
	}
		
	.display-doc {
	vertical-align: middle;
    position: absolute;
    bottom: 20px;
    right: 90px;
    height: 250px;
    width: 250px;
	}	
	
}

.regulation-screen {
	.box-body > .table {
		width:auto;
		margin-top:20px;
		.table-row {
			.table-cell {
				padding:5px 10px;
				
			}
			&:nth-of-type(2n) > .table-cell {
				background:#f0f0f0;
			}
		}
		input {
			width:100px;
		}.text {
			width:200px;
			height:30px;
		}
	}	
}
.approval-screen {
	.box-body > .table {
		width:auto;
		margin-top:20px;
		.table-row {
			.table-cell {
				padding:5px 10px;
				
			}
			&:nth-of-type(2n) > .table-cell {
				background:#f0f0f0;
			}
		}
		input {
			width:200px;
		}
	}
}

.loading-request{
	position:relative;
	&::before{
		font-family: FontAwesome;
		font-size: 60px;
		content:'\f110';
		display:block;
		position:absolute;
		top:50%;
		left:50%;
		z-index:99;
		color: #2aba82;
		-webkit-animation: fa-spin 1.2s infinite ease-in-out;
		animation: fa-spin 1.2s infinite ease-in-out;
	}
}

.loading-request > * {
    visibility: hidden;
    overflow: hidden; 
    height: 300px;
}
.angular-ui-tree-placeholder {border:2px dotted #ccc;}


.date-holder{position:relative;display:inline-block;}
ul.datetime-picker-dropdown{position:absolute;top:100%;z-index:20;margin-top:5px;padding:6px 10px 10px;background:#fff;border:1px solid #999;border-radius:5px;box-shadow:1px 1px 2px #333;list-style-type:none;}
ul.datetime-picker-dropdown i.glyphicon.glyphicon-chevron-left:before{content:'<';}
ul.datetime-picker-dropdown i.glyphicon.glyphicon-chevron-right:before{content:'>';}
ul.datetime-picker-dropdown .date-picker-menu .uib-daypicker{outline:none;}
ul.datetime-picker-dropdown .date-picker-menu table{outline:none;}
ul.datetime-picker-dropdown .date-picker-menu button{cursor:pointer;padding:2px 7px;background:#ddd linear-gradient(#f6f6f6, #dedede);border:1px solid #999;border-radius:2px;}
ul.datetime-picker-dropdown .date-picker-menu button:hover{border:1px solid #333;}
ul.datetime-picker-dropdown .date-picker-menu button.active{background:#ddd linear-gradient(#fbfbfb, #eee);border:1px solid #999;}
ul.datetime-picker-dropdown .date-picker-menu button.btn-info{background:#fff;border:1px solid #999;}
ul.datetime-picker-dropdown .date-picker-menu button:disabled{cursor:default;color:#999;background:#eee;border:1px solid #ccc;}
ul.datetime-picker-dropdown .date-picker-menu button .text-muted{color:#666;}
ul.datetime-picker-dropdown .date-picker-menu button:disabled .text-muted{color:#999;}


.modal-open {
	// overflow:hidden;
	.modal {
		// position:fixed;
		// left:0;
		// top:0;
		// right:0;
		// bottom:0;
		// outline:0;
		// overflow-x:hidden;
		// overflow-y:auto;
		// opacity:1;
		// .modal-backdrop {position:fixed;top:0;right:0;bottom:0;left:0;background-color:#000;filter:alpha(opacity=50);opacity:.5;}
		&.files-close-popup {
			top:40px;
		}
		&.images-from-bank-popup {
			li {cursor:pointer;display:inline-block;width:200px;height:100px;margin:10px;}
			img {max-width:200px;max-height:100px;border:4px solid #fff;}
			.selected img {border:4px solid #639feb;}
		}
		// .modal-dialog {
		// 	position:relative;
		// 	width:70%;
		// 	margin:50px auto;
		// 	-webkit-transform:translate(0,0);
		// 	-ms-transform:translate(0,0);
		// 	-o-transform:translate(0,0);
		// 	transform:translate(0,0);
		// }
		&.confirm-popup .modal-dialog {
			width:50%;
		}
		.modal-content {
			// position:relative;
			// padding:30px;
			// background-color:#fff;
			// -webkit-background-clip:padding-box;
			// background-clip:padding-box;
			// border:1px solid #999;
			// border:1px solid rgba(0,0,0,.2);
			// border-radius:6px;
			// outline:0;
			// -webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);
			// box-shadow:0 5px 15px rgba(0,0,0,.5);
			#previewContentIframe {width:100%;height:600px;border:0px;}
			.confirm-popup-message {padding:20px 0px;font-size:1.2em;}
			.terms-preview-popup-footer {
				margin-top:20px;
				padding-top:20px;
				border-top:1px solid #ccc;
				.red {float:right;}
			}
			.files-close-popup-footer {
				div {margin-bottom:20px;}
			}
		}
	}
}

.tree-row {
	&:nth-child(even) {background:#f6f6f6;}
	.tree-child {
		display:inline-block;
		min-width:200px;
		padding:2px 0px;
	}
	.tree-parent {}
	.tree-parent-header {padding:5px 0px 2px 0px;font-weight:bold;}
}

.global-errors-container{margin:10px 0px;}
.loading-overlay{position:absolute;top:0px;left:0px;z-index:99;width:100%;height:100%;background:url('../images/loading_request.gif') no-repeat center rgba(255, 255, 255, 0.8);max-height: 100vh;}
.loading-overlay.loading-overlay-global{position:fixed;z-index:2000;}
.toast{cursor:pointer;position:fixed;top:50%;left:50%;-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);padding:15px 45px;border:1px solid #c9c9c9;border-radius:10px;background:rgba(170, 218, 255, 1);}
.toast.toast_error{color:#fff;border:1px solid #999;background:rgba(255, 80, 80, 1);}

/* Custom directives */
toggler {
	cursor:pointer;
	position:absolute;
	right:0px;
	top:0px;
	display:inline-block;
	width:35px;
	height:35px;
	background:url('../images/filter-toggle-icon.png') center no-repeat;
	border-left:1px solid #c1c1c1;
}

multiselect {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	min-width:80px;
	font-weight:normal;
	font-size:13.3333px;
	color:#434343;
	.multiselect-header-holder{
		display:table;
		width:100%;
		min-height:17px;
		background:#fff;
		@include linear-gradient-four-top-bottom (#ffffff, #f3f4f8, #ecedef, #e9ebed);
		border:1px solid #b6b9bd;
	}
	.multiselect-header-holder.open{border-bottom:0px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;}
	.multiselect-header{display:table-row;position:relative;}
	.multiselect-drop-arrow{display:table-cell;vertical-align:middle;width:18px!important;cursor:pointer;text-align:center;border-left:1px solid #b6b9bd;background:url('../images/multiselect-arrow-down.png') center no-repeat, linear-gradient(#eaecee, #c2c4c6);;}
	.multiselect-selected-options-holder{display:block;max-width:100%;height:26px;padding:0px 3px;overflow:hidden;}
	.multiselect-header-holder.open .multiselect-selected-options-holder{height:27px;}
	.multiselect-selected-options{display:inline-block;vertical-align:top;width:calc(100% - 25px);}
	.multiselect-selected-options img{vertical-align:bottom;max-height:17px;}
	.multiselect-selected-option{cursor:pointer;display:inline-block;margin:3px 5px 3px 0px;padding:2px 3px;white-space:nowrap;line-height:16px;}
	.multiselect-selected-option:last-child{margin-right:0px;}
	.multiselect-selected-option:hover{margin:2px 5px 2px 0px;padding:2px;border:1px solid #c5c5c5;border-radius:3px;}
	.multiselect-selected-option:last-child:hover{margin-right:0px;}
	.multiselect-selected-options-scroll{
		position:absolute;
		right:22px;
		display:inline-block;
		width:21px;
		padding:4px 0px;
		.up{cursor:pointer;display:block;width:100%;height:9px;background:#f1f1f1 url('../images/multiselect-arrow-up-small.png') center 3px no-repeat;}
		.down{cursor:pointer;display:block;width:100%;height:9px;background:#f1f1f1 url('../images/multiselect-arrow-down-small.png') center 2px no-repeat;}
	}
	/*.multiselect-aggregate-option{background:#fff;}*/
	.multiselect-remove-option{font-weight:bold;color:#999;}
	.multiselect-options-box{position:absolute;z-index:20;min-width:100%;}
	input.multiselect-filter{width:100%;margin:0px;padding:1px 6px;border:1px solid #ccc;border-bottom:0px;}
	.multiselect-options{
		max-height:300px;
		overflow-y:auto;
		background:#fff;
		border:1px solid #b6b9bd;
		.option{display:block;padding:1px 17px;cursor:pointer;white-space:nowrap;}
		.option.checked{color:#fff;background:#3399ff;}
		.option span, .option img{display:inline-block;vertical-align:middle;}
	}
}

single-select {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	min-width:80px;
	height:27px;
	font-weight:normal;
	font-size:13.3333px;
	color:#434343;
	
	.single-select-header-holder {
		display:table;
		width:100%;
		height:100%;
		background:#fff;
		@include linear-gradient-four-top-bottom (#ffffff, #f3f4f8, #ecedef, #e9ebed);
		border:1px solid #b6b9bd;
		&.open {}
		.single-select-header {
			cursor:default;
			display:table-row;
			.single-select-selected-option {display:table-cell;margin-right:5px;padding:2px 10px;vertical-align:middle;white-space:nowrap;}
			.single-select-selected-option img {vertical-align:bottom;max-height:17px;}
		}
		.single-select-drop-arrow {display:table-cell;vertical-align:middle;width:18px!important;text-align:center;border-left:1px solid #b6b9bd;background:url('../images/multiselect-arrow-down.png') center no-repeat, linear-gradient(#eaecee, #c2c4c6);}
	}
	
	.single-select-options-box {
		position:absolute;
		z-index:20;
		visibility:hidden;
		&.visible {visibility:visible;}
		input.single-select-filter {width:100%;margin:0px;padding:1px 10px 1px 10px;border:1px solid #ccc;}
		.single-select-options {position:relative;max-height:300px;overflow-y:auto;background:#fff;border:1px solid #b6b9bd;border-top:0px;}
		.single-select-options .option {
			cursor:default;
			display:block;
			padding:1px 28px 1px 10px;
			height:22px;
			line-height:19px;
			white-space:nowrap;
			&.checked, &:hover {color:#fff;background:#3399ff;}
			&.option span, & img {display:inline-block;vertical-align:middle;}
		}
	}
	
	.flag-holder {
		margin-right: 0.3em;
		min-width: 18px;
		.flag-icon {
			display: inline-block;
			vertical-align: middle;
		}
	}
}
/* End Custom directives */

/* Pagination */
.pages {
	display: table;
	float: right;
	.paginate_button {
		padding: 3px 7px;
		display: table-cell;
		@include border (solid, 1px, 0, 1px, 1px, #c1c1c1, 0);
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.42);
		font-family: inherit;
		font-size: 12px;
		color: #1c2734;
		text-shadow: 0 1px 0 #fff;
		font-weight: inherit;
		cursor: pointer;
		text-decoration: none;
		background: #e7e7e7;
		@include linear-gradient (#ededed, #e7e7e7, #dfdfdf);
		&.current {
			margin-right: -1px;
			@include border (solid, 1px, 1px, 1px, 1px, #13447d, 0);
			color: #fff;
			text-shadow: 0 1px 0 #000;
			background: #3c82d7;
			@include linear-gradient (#5797ea, #3c82d7, #1c68c0);
		}
		&:hover {
			margin-right: -1px;
			/*@include border (solid, 1px, 1px, 1px, 1px, #13447d, 0);*/
			color: #fff;
			text-shadow: 0 1px 0 #000;
			background: #3c82d7;
			@include linear-gradient (#5797ea, #3c82d7, #1c68c0);
		}
		&:first-child {
			@include border (solid, 1px, 0, 1px, 1px, #c1c1c1, 2px);
			@include border-radius(2px, 0, 0,2px);
		}
		&:last-child {
			@include border (solid, 1px, 1px, 1px, 1px, #c1c1c1, 2px);
			@include border-radius(0, 2px, 2px, 0);
		}
	}

}
/* End Pagination */
.productsPriority-tree-nodes {
	.priority-node {
		margin: 5px 0px;
		padding: 10px;
		background: #f4f6f7;
		border: 1px solid #dce2e8;
		border-radius: 5px;
		&.priority-node-header {
			background: #dee6ea;
			border: 1px solid #b6bcc1;
			.product {
				font-weight: bold;
			}
		}
		.product {
			display: flex;
			align-items: center;
			font-weight: normal;
			.productProp {
				flex-basis: 50%;
				padding-right: 5px;
				padding-left: 5px;
				&:first-child {
					max-width: 85px;
				}
				&:last-child {
					flex-basis: 266px;
				}
				&.controls {
					white-space: nowrap;
					.move-input {
						width: 66px;
					}
					.move-btn {
						margin-left: 15px;
						vertical-align: middle;
						padding: 0;
						border: 0;
						background: none;
						font-size: 34px;
						width: 34px;
						height: 34px;
						color: #367fa9;
						&:disabled {
							color: #333;
						}
					}
					.position-form {
						vertical-align: middle;
						display: inline-block;
						.move-input {
							padding-right: 0;
						}
					}
				}
			}
		}
	}
}
.insert-edit-msg-modal {
	.modal-title {
		font-weight: normal;
	}
	.language-section {
		display: block;
		.translation-language {
			font-weight: bold;
		}
		.translation-value {
			width: 100%;
			font-weight: normal;
			transition: none;
			resize: vertical;
			min-height: 50px;
		}
	}
	.key-section {
		display: block;
		.key-title {
			font-weight: bold;
		}
		.key-value {
			width: 50%;
		}
	}
}

@media screen and (max-width: 479px) {
	.secondApproval-screen,
    .firstApproval-screen {
		.from-to-ammount {
			label {
				display: block;
			}
		}
	}
	.content-wrapper .box .box-sub-header .from-to-ammount label + label {
		margin-left: 0;
	}
}

.growl-item.alert-danger,
.growl-item.alert-error {
    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1;
}

.growl-item.alert-success {
	color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6;
}
.iconButton {
	border: none;
	padding: 0;
	background: none;
}

.list-of-questions {
	width: 460px;
	margin: 0 auto;
	padding-left: 63px;
	.question {
		margin-bottom: 26px;
		position: relative;
		.form-error-msg {
			position: absolute;
		    right: 100%;
		    top: 0;
		    margin-right: 102px;
		    white-space: nowrap;
			&::before {
				position: absolute;
				left: 100%;
			}
		}
		.title {
			$line-height: 20px;
			position: relative;
			font-size: 15px;
			font-weight: 400;
			line-height: $line-height;
			color: #313535;
			margin-bottom: 22px;
			&::before {
				$height: 2px;
				content: '';
				position: absolute;
				width: 55px;
				height: 2px;
				background-color: #747a7a;
				top: calc(#{$line-height} / 2 - #{$height} / 2);
				left: -63px;
			}
		}
		.option {
			display: block;
			cursor: pointer;
			font-size: 13px;
			font-weight: 300;
			line-height: 15px;
			color: #747a7a;
			padding: 9px 0;
			.radio-button {
				margin: 0px 5px 0 0;
				background: transparent;
			}
			input {
				margin: 0;
				background: none;
				padding: 0;
				height: 19px;
				font-weight: normal;
			}
		}
	}
}

fieldset[disabled] input[type=checkbox],
fieldset[disabled] input[type=radio],
input[type=checkbox].disabled,
input[type=checkbox][disabled],
input[type=radio].disabled,
input[type=radio][disabled] {
	cursor: auto;
}
.analytics-header {
	text-align: center;
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 16px;
}
.analytics-page {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	height: calc(100% - 32px - 16px);
	.quarter {
		-webkit-box-flex: 1;
			-ms-flex: 1 0 50%;
				flex: 1 0 50%;
		max-width: 50%;
		height: 50%;
		max-height: 50%;
		border: 1px solid black;
		position: relative;
		&.info-holder {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
				-ms-flex-direction: column;
					flex-direction: column;
			-webkit-box-align: center;
				-ms-flex-align: center;
					align-items: center;
			.header {
				font-size: 100%;
			}
			.body {
				font-size: 600%;
				-webkit-box-flex: 1;
					-ms-flex-positive: 1;
						flex-grow: 1;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				.body-center-text {
					margin: auto;
				}
			}
		}

		.chart {
			max-height: 100%;
    		width: auto !important;
    		margin: 0 auto;
    	}
	}
}